.main-nav {
    width: 100%;
    max-width: 1170px;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    background-color: transparent;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    min-height: 30px;
    padding: 5px 0;
    font-family: "Open-sans Regular";
    font-size: 18px;
    z-index: 2;

    @media screen and (min-width: $tablet-min) { 
        background-color: $white;
    }


     .main-nav__links {
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        font-size: 16px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 20px;
        text-align: center;
        position: fixed;
        margin: 0;
        list-style-type: none;
        float: right;
        z-index: 1;
        // width: auto;
        // height: auto;
        
        li {
            
            a {
                font-size: 18px;
                margin: 5px 0;
                display: block;
                line-height: 22px;
                color: $white;
                text-decoration: none;
                
                &:hover {
                    color: $accent;
                }
            }
        }
    }

    @media screen and (min-width: $desktop-min) { 
        .hamburger-menu {
            display: none;
        }
        .main-nav__links {
            display: block;
            position: static;
            opacity: 1;
            li {
                display: inline-block;
                padding: 0;
                margin-right: 70px;
                height: auto;
            }
        }
        opacity: 1;
        top: 0;
        position: fixed;
        z-index: 1;
        background-color: transparent;

        .main-nav__link {
            line-height: 85px;
            padding: 0 20px;
        }
    }   

}

.hamburger-menu {
    padding: 10px;
    right: 10px;
    top: 10px;
    display: block;
    height: 20px;
    width: 20px;
    position: fixed;
    z-index: 2;


    span {
        border-radius: 5px;
        height: 4px;
        width: 20px;
        background-color: $accent;
        display: block;
        position: absolute;
        left: 0;
        transition: transform 0.5s ease-in-out;

        &:first-of-type {
            top: 0;
        }

        &:nth-of-type(2), &:nth-of-type(3) {
            top: 5px;
        }

        &:nth-of-type(4) {
            top: 10px;
        }
    }
}


// mobile navigation test

.mobile-nav--open {
    background-color: rgba(0,0,0,0.8);
    bottom: 0;
    top: 0;

    .main-nav__links {
        display: block;
        opacity: 1;

    }
    .hamburger-menu span { 
        &:first-of-type, &:nth-of-type(4) {
            display: none;
        }
        &:nth-of-type(2) {
            transform: rotate(-45deg);
        }
        &:nth-of-type(3) {
            transform: rotate(45deg);
        }
    }
}
.main-nav__link {
    display: block;
}

.logo-brand {
    text-transform: uppercase;
    float: left;
    font-family: "Bebas Neue Regular";
    font-size: 48px;
    color: #DC0000;
    line-height: 30px;
    font-weight: 400;
    margin-top: 30px;

}

span.small-letters {
    text-transform: uppercase;
    font-family: "BebasNeue Book";
    font-size: 36px;
    font-weight: 200;
}

.main-nav--is-scrolled-down {
    width: 100%;
    position: fixed;
    height: 100px;
    opacity: 1;
    top: 0;
    z-index: 2;
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
    background-color: $black;
    @media screen and (max-width: $tablet-max) { 
        .main-nav__links {
            background-color: rgba(0,0,0,0.85); 
        }
    }
}

