// latest products section
.page-section-latest-products {
    text-align: center;
}

.collection {
    margin-left: 20px;
    margin-top: 40px;
    display: inline-block;
    width: 370px;
    min-height: 418px;
    background-repeat: no-repeat;
    background-position: center;

    &:first-of-type {
        margin-left: 0;
    }
}
 
.collection__name {
    color: $white;
    padding-top: 190px;
    font-size: 35px;
}

.collection__border {
    width: 80%;
    min-height: 355px;
    margin: 0 auto;
    margin-top: 33px;
    border: 1px solid $white;
    transition: all 0.4s ease;
}

.collection:hover {
    transform: scale(1.02);
}

.collection:hover.collection__border {
    border: 5px solid $white;
}

.latest-item-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.latest-item {
    display: block;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    color: $white;
    position: relative;
    width: 100%;
    height: 418px;
    margin: 0 auto 10px;

    @media screen and (min-width: $desktop-min) {
        margin: 15px;
        width: calc(50% - 32px);
    }
}

.sales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 35px;

    @media screen and (min-width: $desktop-min) {
        flex-direction: row;
    }
}

.sale-name {
    font-family: "Lato";
    text-transform: capitalize;
    font-size: 45px;
    position: relative;
    text-align: center;
    padding: 0 70px;

    &::before, &::after {
        content: "";
        position: absolute;
        top: -10px;
        border-top: $white solid 2px;
        width: 192px;
        transform: translateX(-50%);
        left: 50%;
    }

    &::after {
        bottom: -10px;
        top: auto;
    }
}

