
.page-section-latest-products {
    text-align: center;
}

.collection {
    margin-left: 20px;
    margin-top: 40px;
    display: inline-block;
    width: 370px;
    min-height: 418px;
    background-repeat: no-repeat;
    background-position: center;

    &:first-of-type {
        margin-left: 0;
    }
}

// .collection-mens {
//     background-image: url('images/mens.jpg');
//     background-repeat: no-repeat;
//     background-position: center;
// }
// .collection-womens {
//     background-image: url('images/womans.jpg');
//     background-repeat: no-repeat;
//     background-position: center;
// }

// .collection-watches {
//     background-image: url('images/watches.jpg');
//     background-repeat: no-repeat;
//     background-position: center;
// }

.collection__name {
    color: $white;
    padding-top: 190px;
    font-size: 35px;
}

.collection__border {
    width: 80%;
    min-height: 355px;
    margin: 0 auto;
    margin-top: 33px;
    border: 1px solid $white;
    transition: all 0.4s ease;
}

.collection:hover {
    transform: scale(1.02);
}

.collection:hover.collection__border {
    border: 5px solid $white;
}

.latest-item-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.latest-item {
    display: inline-block;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    color: $white;
    position: relative;
    width: 570px;
    height: 418px;
    margin: 0 auto 10px;
}

//     &::before {
//         content: " ";
//         width: 100%;
//         height: 100%;
//         position: absolute;
//         background-color: #222533;
//         opacity: 0.7;
//         top: 0;
//         left: 0;
//         z-index: 0;
//     }

//     * {
//         z-index: 2;
//     }
// }
