// subscribe
.page-section-subscribe {
    padding: 75px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.subscribe-title {
    color: $white;
}

.email-input {
    background-color: transparent;
    width: calc(100% - 600px);
    margin: 30px 0;
    height: 50px;
    padding: 0 82px;
    background: url("../images/mail.png") no-repeat;
    background-position: 5px center;
    background-size: 20px;
}

.subscription-form {
}

.subscription-btn {
    line-height: 52px;
    width: 270px;
    font-size: 18px;
    font-weight: bold;
}
.blog-text {
    color: $primary-color;
    font-family: "OpenSansLight";
    font-size: 18px;
    margin: 32px 0;
    padding: 30px 0;
    border-top: 1px solid $line-color;
    border-bottom: 1px solid $line-color;
 
}

.blog-btn {
    border: $black 1px solid;
    color: $black;
    background-color: $secondary-color;
    font-size: 18px;
    width: 170px;
    height: 52px;
}

.blog-btn:hover {
    color: $black;

}