// subscribe
.page-section-subscribe {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px;

    @media screen and (min-width: $desktop-min) {
        text-align: left;
        padding: 75px 0;       
    }
}

.subscribe-title {
    color: $white;
    font-size: 18px;
    font-weight: bold;

    @media screen and (min-width: $desktop-min) {
        font-size: 18px;
        font-weight: normal;
    }
}

.email-input {
    background-color: transparent;
    width: calc(100% - 20px);
    margin: 30px 0;
    height: 30px;
    background: url("../images/mail.png") no-repeat;
    background-position: 300px center;
    background-size: 20px;

    @media screen and (min-width: $desktop-min) {
        width: calc(100% - 600px);
        padding: 0 82px;
        height: 50px;
        background-position: 5px center;
    }
}

.subscription-btn {
    display: block;
    margin: 20px auto;
    line-height: 30px;
    width: 150px;
    font-size: 12px;
    font-weight: bold;

    @media screen and (min-width: $desktop-min) {
        display: inline-block;
        margin-left: 75px;
        line-height: 48px;
        width: 270px;
        font-size: 18px;
    }
}

.blog-text {
    color: $primary-color;
    font-family: "OpenSansLight";
    font-size: 18px;
    margin: 32px 0;
    padding: 30px 0;
    border-top: 1px solid $line-color;
    border-bottom: 1px solid $line-color;
 
}

.blog-btn {
    border: $black 1px solid;
    color: $black;
    background-color: $secondary-color;
    font-size: 18px;
    width: 170px;
    height: 52px;
}

.blog-btn:hover {
    color: $black;

}